* { 
  box-sizing : border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: rgb(168, 0, 168);
  /* background-color: pink; */
  background-color: #f7f4e1;
}
.start,
.end{
  width:15%;
  display:inline;
}

.day-label{
  display:inline-block;
  width:80px;
}

.button-div{
  display:block;
  margin-top:4vh;
}

table, tr, td, th{
  border:1px;
  border-style: solid;
  text-align: center;
}
table{
  margin: 0 auto;
  width:80%;
}

.random-div{
  position:relative;
}

.calendar-outer{
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgb(173, 226, 230); */
  position:absolute;
}

#calendar{
  display:none;
  /* none */
}

.calendar{
  position:absolute;
  top:0;
  left:15vw;
  width:400px;
  height:auto;
  display:flex;
  flex-direction: column;
  padding: 10px;
  background:rgb(240, 244, 249);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
}

.header button{
  display:flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor:pointer;
  width:40px;
  height:40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.clndrbtn{
  display:flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor:pointer;
  width:40px;
  height:40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.days {
  display:grid;
  grid-template-columns: repeat(7,1fr);
}

.day{
  text-align: center;
  padding: 5px;
  color: #999FA6;
  font-weight: 500;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 5px;
}

.date{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover, .date.active{
  background: #ff5869;
  color: #fff;
}

.date.inactive{
  color: #d2d2d2;
}

.date.inactive:hover {
  color:fff;
}

#datepicker-clear-span{
  margin:0 auto;
}
#datepicker-clear-btn{
  cursor:pointer;
  border:none;
  background: none;
  background-color: none;
  width:fit-content;
  text-wrap: nowrap;
  text-align: center;
  color:rgb(98, 16, 16);
}

#datepicker-add-span{
  /* margin:0 auto; */
  display:flex;
  justify-content: end;
}
#datepicker-add-btn{
  width:fit-content; 
  height:40px;
  text-overflow: hidden; 
  /* text-wrap:nowrap;  */
  text-align: center;
  border-style: double;
  border-color: #2A7B9B;;
  border-color: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}










