body {
  color: purple;
}
.start,
.end{
  width:15%;
  display:inline;
}

.day-label{
  display:inline-block;
}

.button-div{
  display:block;
  margin-top:4vh;
}

table{
  margin-left: 10%;
  width:80%;
}