<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/static/style.css">
  <script defer type="text/javascript" src="/static/main.js"></script>
  <title>Tageszähler</title>
</head>
<body>
  <h1>Tageszähler</h1>
<form method="post" action="/">
    <label for="month-select">Monat auswählen</label>
    <select name="Monat" id="month-select"></select>
    <br>
    <button id="addDay">Tag hinzufügen</button>
    <button id="addWeek">Woche hinzufügen</button>
  <table>
    <tr><th>Arbeitsstunden-Berechnung</th></tr>
    <div id="days"></div>
  </table>
  <input type="submit" value="Berechne Gesamtstunden">
</form>
</body>
</html>