<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/static/style.css">
  <script defer type="text/javascript" src="/static/main.js"></script>
  <title>Tageszähler</title>
</head>
<body>
  <h1>Tageszähler</h1>
<form method="post" action="/results.html">
  <label for="year-select">Jahr auswählen</label>
  <select name="Monat" id="year-select"></select>
  <label for="month-select">Monat auswählen</label>
  <select name="Monat" id="month-select"></select>
  <label for="day-select">Tag auswählen</label>
  <select name="Tag" id="day-select"></select>

  <span style="position:absolute;right:0px; top:15vh;">
    <label for="paste" style="display:flex;">(Text mit Uhrzeiten hineinkopieren)</label>
    <textarea name="paste" id="paste" cols="40" rows="5"></textarea>
  </span>
  <div class="button-div">
    <button class="button" type="button" id="addDay">Tag hinzufügen</button>
    <button class="button" type="button" id="addWeek">Woche hinzufügen</button>
    <button class="button" type="button" id="clear">Zurücksetzen</button>
  </div>
  <div id="days"></div>
  <!-- <div id="start-div"></div>
  <div id="end-div"></div> -->

  <h2>Arbeitsstunden-Berechnung</h2>

  <!-- <div class="days">Tag 03 - Mo</div>
  <div class="start">
    <label>Tag 03 - Mo</label>
    <input type="text" class="start" placeholder="HH:MM">
  </div>
  <div class="end">
    <input type="text" class="end" placeholder="HH:MM">
  </div>  
  <div class="days">Tag 04 - Di</div>
  <div class="start">
    <label>Tag 04 - Di</label>
    <input type="text" class="end" placeholder="HH:MM">
  </div>
  <div class="end">
    <input type="text" class="end" placeholder="HH:MM">
  </div>   -->

  <input type="submit" value="Berechne Gesamtstunden">
</form>
</body>
</html>